* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  padding: 0px;
  margin: 0px;
  font-family: "Noto Sans JP", sans-serif;
}

p {
  margin: 0;
}


.header-inner {
  display: flex;
  margin: 20px auto;
  max-width: 960px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header-inner a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

h1 {
  margin: 0 0 0 20px;
  font-size: 34px;
  padding: 0px 20px;
  border: 1px solid black;
}

.home {
  text-decoration: none;
}

nav .menu {
  display: flex;
  padding-left: 0;
}

nav li {
  margin: 0 20px;
  list-style: none;
}

nav a {
  font-size: 34px;
}

h2 {
  margin: 0;
  font-size: 34px;
  padding: 60px 0 40px;
  text-align: center;
}

p,li {
  font-size: 18px;
}


img {
  margin: 0 auto;
  width: 100%;
}

.about-inner {
  padding: 10px;
  margin: 20px auto;
  max-width: 960px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}


.name {
  font-size: 24px;
  font-weight: bold;
}

.circle {
  border-radius: 50%;
  width: 280px;
  height: 280px;
}

.content {
  margin: 0 auto;
  padding: 0 20px;
}

.works-inner {
  display: flex;
  margin: 0 auto;
  max-width: 960px;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  margin: 0 10px;
  padding-bottom: 60px;
  width: 25%;
}

footer p {
  text-align: center;
  padding-bottom: 20px;
}

@media (max-width: 767px) {
  h1,h2 {
    font-size: 28px;
  }
  
  h2 {
    padding: 30px 0 20px;
  }

  nav li {
    margin: 0 10px;
  }

  nav a {
    font-size: 21px;
  }

  .item {
    width: 100%;
    text-align: center;
    padding-bottom: 40px;
  }
}
/* スマートフォン */
@media screen and (max-width: 767px) {
  body {
    min-width: 375px;
    margin: 0;
  }

  }